/*------------------------------------------------------------------------------
/* Alert Boxes Style
------------------------------------------------------------------------------*/
.simple-alert-boxes {
  box-sizing: border-box;
  font-size: 100%;
  margin: 1em 0;
  position: relative;
  width: 100%;
}
.simple-alert-boxes *:last-child {
  margin-bottom: 0;
}
.simple-alert-boxes::before {
  line-height: 0 !important;
}
.simple-alert-boxes.sab_normal::before {
  font-size: 120% !important;
}
.simple-alert-boxes.sab_small::before {
  font-size: 75% !important;
}
.simple-alert-boxes.sab_big::before {
  font-size: 200% !important;
}
.simple-alert-boxes.sab_hide-icon::before {
  display: none;
}
.simple-alert-boxes::after {
  content: "";
  display: block;
  clear: both;
}
/*------------------------------------------------------------------------------
/* Icons
------------------------------------------------------------------------------*/
/* Dashicons */
.simple-alert-boxes.sab_icons_dashicons::before {
  font-family: 'dashicons';
}
.simple-alert-boxes.sab_info.sab_icons_dashicons::before {
  content: "\f348";
}
.simple-alert-boxes.sab_success.sab_icons_dashicons::before {
  content: "\f502";
}
.simple-alert-boxes.sab_warning.sab_icons_dashicons::before {
  content: "\f534";
}
.simple-alert-boxes.sab_danger.sab_icons_dashicons::before {
  content: "\f153";
}
/* FontAwesome */
.simple-alert-boxes.sab_icons_fontawesome::before {
  width: 1em;
  text-align: center;
  font-family: FontAwesome;
}
.simple-alert-boxes.sab_info.sab_icons_fontawesome::before {
  content: "\f129";
}
.simple-alert-boxes.sab_success.sab_icons_fontawesome::before {
  content: "\f00c";
}
.simple-alert-boxes.sab_warning.sab_icons_fontawesome::before {
  content: "\f12a";
}
.simple-alert-boxes.sab_danger.sab_icons_fontawesome::before {
  content: "\f00d";
}
/*==============================================================================
                                   THEMES
==============================================================================*/
/* Default theme */
.simple-alert-boxes.sab_theme_default {
  border: 1px solid;
  padding: 1em !important;
}
.simple-alert-boxes.sab_theme_default::before {
  position: absolute;
  top: 50%;
  left: 1em;
}
.simple-alert-boxes.sab_theme_default.sab_info {
  background: #D9EDF7;
  border-color: #aad0e2;
  color: #31708f !important;
}
.simple-alert-boxes.sab_theme_default.sab_info h1,
.simple-alert-boxes.sab_theme_default.sab_info h2,
.simple-alert-boxes.sab_theme_default.sab_info h3,
.simple-alert-boxes.sab_theme_default.sab_info h4,
.simple-alert-boxes.sab_theme_default.sab_info h5,
.simple-alert-boxes.sab_theme_default.sab_info h6,
.simple-alert-boxes.sab_theme_default.sab_info a,
.simple-alert-boxes.sab_theme_default.sab_info strong {
  color: #245269 !important;
}
.simple-alert-boxes.sab_theme_default.sab_success {
  background: #DFF0D8;
  border-color: #aad4ab;
  color: #3c763d !important;
}
.simple-alert-boxes.sab_theme_default.sab_success h1,
.simple-alert-boxes.sab_theme_default.sab_success h2,
.simple-alert-boxes.sab_theme_default.sab_success h3,
.simple-alert-boxes.sab_theme_default.sab_success h4,
.simple-alert-boxes.sab_theme_default.sab_success h5,
.simple-alert-boxes.sab_theme_default.sab_success h6,
.simple-alert-boxes.sab_theme_default.sab_success a,
.simple-alert-boxes.sab_theme_default.sab_success strong {
  color: #2b542c !important;
}
.simple-alert-boxes.sab_theme_default.sab_warning {
  background: #FCF8E3;
  border-color: #deceb3;
  color: #8a6d3b !important;
}
.simple-alert-boxes.sab_theme_default.sab_warning h1,
.simple-alert-boxes.sab_theme_default.sab_warning h2,
.simple-alert-boxes.sab_theme_default.sab_warning h3,
.simple-alert-boxes.sab_theme_default.sab_warning h4,
.simple-alert-boxes.sab_theme_default.sab_warning h5,
.simple-alert-boxes.sab_theme_default.sab_warning h6,
.simple-alert-boxes.sab_theme_default.sab_warning a,
.simple-alert-boxes.sab_theme_default.sab_warning strong {
  color: #66512c !important;
}
.simple-alert-boxes.sab_theme_default.sab_danger {
  background: #F2DEDE;
  border-color: #ebcdcc;
  color: #a94442 !important;
}
.simple-alert-boxes.sab_theme_default.sab_danger h1,
.simple-alert-boxes.sab_theme_default.sab_danger h2,
.simple-alert-boxes.sab_theme_default.sab_danger h3,
.simple-alert-boxes.sab_theme_default.sab_danger h4,
.simple-alert-boxes.sab_theme_default.sab_danger h5,
.simple-alert-boxes.sab_theme_default.sab_danger h6,
.simple-alert-boxes.sab_theme_default.sab_danger a,
.simple-alert-boxes.sab_theme_default.sab_danger strong {
  color: #843534 !important;
}
.simple-alert-boxes.sab_theme_default.sab_normal {
  padding-left: 2.884em !important;
}
.simple-alert-boxes.sab_theme_default.sab_small {
  padding-left: 2.667em !important;
}
.simple-alert-boxes.sab_theme_default.sab_big {
  padding-left: 4em !important;
}
.simple-alert-boxes.sab_theme_default.sab_normal::before {
  left: 0.842em;
}
.simple-alert-boxes.sab_theme_default.sab_small::before {
  left: 1.333em;
}
.simple-alert-boxes.sab_theme_default.sab_big::before {
  left: 0.500em;
}
/* ... */
.simple-alert-boxes.sab_theme_wordpress {
  background: #FFF;
  border: 2px solid;
  border-radius: 3px;
  border-left-width: 60px;
  color: #555;
  font-weight: 500;
  padding: 15px;
  position: relative;
  width: 100%;
}
.simple-alert-boxes.sab_theme_wordpress::before {
  color: #FFF;
  position: absolute;
  top: 50%;
  left: 0;
}
.simple-alert-boxes.sab_theme_wordpress.sab_hide-icon {
  border-left-width: 2px;
}
.simple-alert-boxes.sab_theme_wordpress.sab_info {
  border-color: #31708f;
  color: #31708f !important;
}
.simple-alert-boxes.sab_theme_wordpress.sab_info h1,
.simple-alert-boxes.sab_theme_wordpress.sab_info h2,
.simple-alert-boxes.sab_theme_wordpress.sab_info h3,
.simple-alert-boxes.sab_theme_wordpress.sab_info h4,
.simple-alert-boxes.sab_theme_wordpress.sab_info h5,
.simple-alert-boxes.sab_theme_wordpress.sab_info h6,
.simple-alert-boxes.sab_theme_wordpress.sab_info a,
.simple-alert-boxes.sab_theme_wordpress.sab_info strong {
  color: #245269 !important;
}
.simple-alert-boxes.sab_theme_wordpress.sab_success {
  border-color: #3c763d;
  color: #3c763d !important;
}
.simple-alert-boxes.sab_theme_wordpress.sab_success h1,
.simple-alert-boxes.sab_theme_wordpress.sab_success h2,
.simple-alert-boxes.sab_theme_wordpress.sab_success h3,
.simple-alert-boxes.sab_theme_wordpress.sab_success h4,
.simple-alert-boxes.sab_theme_wordpress.sab_success h5,
.simple-alert-boxes.sab_theme_wordpress.sab_success h6,
.simple-alert-boxes.sab_theme_wordpress.sab_success a,
.simple-alert-boxes.sab_theme_wordpress.sab_success strong {
  color: #2b542c !important;
}
.simple-alert-boxes.sab_theme_wordpress.sab_warning {
  border-color: #8a6d3b;
  color: #8a6d3b !important;
}
.simple-alert-boxes.sab_theme_wordpress.sab_warning h1,
.simple-alert-boxes.sab_theme_wordpress.sab_warning h2,
.simple-alert-boxes.sab_theme_wordpress.sab_warning h3,
.simple-alert-boxes.sab_theme_wordpress.sab_warning h4,
.simple-alert-boxes.sab_theme_wordpress.sab_warning h5,
.simple-alert-boxes.sab_theme_wordpress.sab_warning h6,
.simple-alert-boxes.sab_theme_wordpress.sab_warning a,
.simple-alert-boxes.sab_theme_wordpress.sab_warning strong {
  color: #66512c !important;
}
.simple-alert-boxes.sab_theme_wordpress.sab_danger {
  border-color: #a94442;
  color: #a94442 !important;
}
.simple-alert-boxes.sab_theme_wordpress.sab_danger h1,
.simple-alert-boxes.sab_theme_wordpress.sab_danger h2,
.simple-alert-boxes.sab_theme_wordpress.sab_danger h3,
.simple-alert-boxes.sab_theme_wordpress.sab_danger h4,
.simple-alert-boxes.sab_theme_wordpress.sab_danger h5,
.simple-alert-boxes.sab_theme_wordpress.sab_danger h6,
.simple-alert-boxes.sab_theme_wordpress.sab_danger a,
.simple-alert-boxes.sab_theme_wordpress.sab_danger strong {
  color: #843534 !important;
}
.simple-alert-boxes.sab_theme_wordpress.sab_normal::before {
  left: -39.6px;
}
.simple-alert-boxes.sab_theme_wordpress.sab_small::before {
  left: -36px;
}
.simple-alert-boxes.sab_theme_wordpress.sab_big::before {
  left: -46px;
}
