.alert {
    box-sizing: border-box;
    margin: 20px 0px;
    padding: 20px !important;
    width: 100%;
}

.alert p {
    padding: 0px !important;
    margin: 0px !important;
}

.alert a {
    text-decoration: underline !important;
}

.alert p:before {
    font-family: FontAwesome;
    padding-right: 20px;
}

.success, .success a {background: #DFF0D8 !important;color: #468847 !important;}
.success p:before {content: "\f00c";}

.info, .info a {background:#D9EDF7 !important;color:#3A87AD !important;}
.info p:before {content: "\f12a";}

.warning, .warning a {background: #FCF8E3 !important;color: #C09853 !important;}
.warning p:before {content: "\f12a";}

.danger, .danger a {background: #F2DEDE !important;color: #B94A48 !important;}
.danger p:before {content: "\f00d";}