/*==============================================================================
                                    BASE
==============================================================================*/
.simple-alert-boxes {
  box-sizing: border-box;
  font-size: 100%;
  margin: 1em 0;
  position: relative;
  width: 100%;
}
.simple-alert-boxes *:last-child {
  margin-bottom: 0;
}
.simple-alert-boxes::before {
  line-height: 0 !important;
}
.simple-alert-boxes.sab_normal::before {
  font-size: 120% !important;
}
.simple-alert-boxes.sab_small::before {
  font-size: 75% !important;
}
.simple-alert-boxes.sab_big::before {
  font-size: 200% !important;
}
.simple-alert-boxes.sab_hide-icon::before {
  display: none;
}
.simple-alert-boxes::after {
  content: "";
  display: block;
  clear: both;
}
/*==============================================================================
                                    ICONS
==============================================================================*/
/* FontAwesome */
.simple-alert-boxes::before {
  width: 1em;
  text-align: center;
  font-family: FontAwesome;
}
.simple-alert-boxes.sab_info::before {
  content: "\f129";
}
.simple-alert-boxes.sab_success::before {
  content: "\f00c";
}
.simple-alert-boxes.sab_warning::before {
  content: "\f12a";
}
.simple-alert-boxes.sab_danger::before {
  content: "\f00d";
}
/*==============================================================================
                                    THEMES
==============================================================================*/
.simple-alert-boxes {
  border: 1px solid;
  padding: 1em !important;
}
.simple-alert-boxes::before {
  position: absolute;
  top: 50%;
  left: 1em;
}
.simple-alert-boxes.sab_info {
  background: #D9EDF7;
  border-color: #aad0e2;
  color: #31708f !important;
}
.simple-alert-boxes.sab_info h1,
.simple-alert-boxes.sab_info h2,
.simple-alert-boxes.sab_info h3,
.simple-alert-boxes.sab_info h4,
.simple-alert-boxes.sab_info h5,
.simple-alert-boxes.sab_info h6,
.simple-alert-boxes.sab_info a,
.simple-alert-boxes.sab_info strong {
  color: #245269 !important;
}
.simple-alert-boxes.sab_success {
  background: #DFF0D8;
  border-color: #aad4ab;
  color: #3c763d !important;
}
.simple-alert-boxes.sab_success h1,
.simple-alert-boxes.sab_success h2,
.simple-alert-boxes.sab_success h3,
.simple-alert-boxes.sab_success h4,
.simple-alert-boxes.sab_success h5,
.simple-alert-boxes.sab_success h6,
.simple-alert-boxes.sab_success a,
.simple-alert-boxes.sab_success strong {
  color: #2b542c !important;
}
.simple-alert-boxes.sab_warning {
  background: #FCF8E3;
  border-color: #deceb3;
  color: #8a6d3b !important;
}
.simple-alert-boxes.sab_warning h1,
.simple-alert-boxes.sab_warning h2,
.simple-alert-boxes.sab_warning h3,
.simple-alert-boxes.sab_warning h4,
.simple-alert-boxes.sab_warning h5,
.simple-alert-boxes.sab_warning h6,
.simple-alert-boxes.sab_warning a,
.simple-alert-boxes.sab_warning strong {
  color: #66512c !important;
}
.simple-alert-boxes.sab_danger {
  background: #F2DEDE;
  border-color: #ebcdcc;
  color: #a94442 !important;
}
.simple-alert-boxes.sab_danger h1,
.simple-alert-boxes.sab_danger h2,
.simple-alert-boxes.sab_danger h3,
.simple-alert-boxes.sab_danger h4,
.simple-alert-boxes.sab_danger h5,
.simple-alert-boxes.sab_danger h6,
.simple-alert-boxes.sab_danger a,
.simple-alert-boxes.sab_danger strong {
  color: #843534 !important;
}
.simple-alert-boxes.sab_normal {
  padding-left: 2.884em !important;
}
.simple-alert-boxes.sab_small {
  padding-left: 2.667em !important;
}
.simple-alert-boxes.sab_big {
  padding-left: 4em !important;
}
.simple-alert-boxes.sab_normal::before {
  left: 0.842em;
}
.simple-alert-boxes.sab_small::before {
  left: 1.333em;
}
.simple-alert-boxes.sab_big::before {
  left: 0.500em;
}
