.alert {
    box-sizing: border-box;
    margin: 20px 0px;
    max-width: 950px !important;
    padding: 20px !important;
    width: 100%;
}

.alert p {
    padding: 0px !important;
    margin: 0px !important;
}

.alert p:before {
    font-family: FontAwesome;
    padding-right: 20px;
}

.success {background: #DFF0D8;color: #468847;}
.success p:before {content: "\f00c";}

.info {background:#D9EDF7;color:#3A87AD;}
.info p:before {content: "\f12a";}

.warning {background: #FCF8E3;color: #C09853;}
.warning p:before {content: "\f12a";}

.danger {background: #F2DEDE;color: #B94A48;}
.danger p:before {content: "\f00d";}